In [2]:
import pandas as pd 
import numpy as np

In [12]:
df_des = pd.read_csv('df_des.csv')
df_des.head(3)

  Unnamed: 0    0
0       소화불량  124
1   식욕감퇴식욕부진  102
2         과식  110

In [13]:
df_des.columns= ['증상', '개수']
df_des.sort_values(by='개수',ascending=False,inplace=True)

In [14]:
df_des = df_des.head(100)

In [15]:
df_des.reset_index(drop=True)

          증상   개수
0        근육통  786
1        비타민  627
2        신경통  543
3         두통  542
4       육체피로  529
..       ...  ...
95  호흡기질환에서의   93
96        위염   93
97      점액용해   93
98       거담에   93
99      외상후의   93

[100 rows x 2 columns]

In [16]:
df_count= pd.read_csv('count.csv')
df_count.head(3)

   Unnamed: 0   증상    개수
0          25   통증  1151
1          32  근육통  1149
2          51  관절염   921

In [17]:
del df_count['Unnamed: 0']

In [18]:
df_count

      증상    개수
0     통증  1151
1    근육통  1149
2    관절염   921
3     피로   920
4    관절통   862
..   ...   ...
95    건염   155
96   상완골   154
97    보우   151
98    화상   150
99  십이지장   148

[100 rows x 2 columns]

In [20]:
total_count = pd.concat([df_des, df_count], ignore_index=True)

In [35]:
total_count = total_count.sort_values(by='개수', ascending=False)
total_count = total_count.reset_index(drop=True)
total_count

           증상    개수
0          통증  1151
1         근육통  1149
2         관절염   921
3          피로   920
4         관절통   862
..        ...   ...
195        위염    93
196       거담에    93
197  호흡기질환에서의    93
198      외상후의    93
199      점액용해    93

[200 rows x 2 columns]

In [36]:
total_count.to_csv('symptom.csv')

In [31]:
merge_outer = pd.merge(df_des, df_count, how='outer', on='증상')
merge_outer

       증상   개수_x    개수_y
0     근육통  786.0  1149.0
1     비타민  627.0   677.0
2     신경통  543.0   576.0
3      두통  542.0   569.0
4    육체피로  529.0     NaN
..    ...    ...     ...
167    건염    NaN   155.0
168   상완골    NaN   154.0
169    보우    NaN   151.0
170    화상    NaN   150.0
171  십이지장    NaN   148.0

[172 rows x 3 columns]

In [34]:
merge_outer.to_csv('total_count.csv')

* 데이터 확인하기

In [42]:
total_count.duplicated(subset=['증상'])

0      False
1      False
2      False
3      False
4      False
       ...
195     True
196    False
197    False
198    False
199    False
Length: 200, dtype: bool